.table-container{
    margin: 30px;
    align-items: center;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #142467;
    color: white;
}

.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
